nav {
  width: 70%;
  display: flex;
  justify-content: space-around;
  background-color: transparent;
}

a {
  color: #000000;
  text-decoration: none;
  position: relative;
  padding-bottom: 5px;
  background-color: transparent;
}

a:hover {
  color: white;
  -webkit-animation: blue-neon 0.8s ease-in-out infinite alternate;
  -moz-animation: blue-neon 0.8s ease-in-out infinite alternate;
  animation: blue-neon 0.8s ease-in-out infinite alternate;
}

a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 3px;
  background-color: #000000;
  width: 0;
  transition: width 0.3s ease-out;
  border-radius: 20px;
}

.active-link::after {
  background-color: white;
  width: 100%;
}

a:hover::after {
  width: 50%;
  background-color: white;
}

.active-link:hover::after {
  width: 100%;
}

.active-link {
    color: white;
}

@-webkit-keyframes blue-neon {
  from {
    text-shadow: 0 0 1px #fff, 0 0 5px #00aaff, 0 0 10px #00bbff,
      0 0 15px #00ffff;
  }
  to {
    text-shadow: 0 0 2px #fff, 0 0 7px #33ccff, 0 0 12px #66ffff,
      0 0 17px #00ffff;
  }
}

@-moz-keyframes blue-neon {
  from {
    text-shadow: 0 0 1px #fff, 0 0 5px #00aaff, 0 0 10px #00bbff,
      0 0 15px #00ffff;
  }
  to {
    text-shadow: 0 0 2px #fff, 0 0 7px #33ccff, 0 0 12px #66ffff,
      0 0 17px #00ffff;
  }
}

@keyframes blue-neon {
  from {
    text-shadow: 0 0 1px #fff, 0 0 5px #00aaff, 0 0 10px #00bbff,
      0 0 15px #00ffff;
  }
  to {
    text-shadow: 0 0 2px #fff, 0 0 7px #33ccff, 0 0 12px #66ffff,
      0 0 17px #00ffff;
  }
}
