/* Ð’ Header.css */
.header-con {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;

  border-radius: 20px;
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.1);

  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.header-con > h1 {
  color: #fff;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
  font-size: 1.8em;
  font-weight: 700;
}
.burger-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  width: 4vw;
  height: 4vw;
  min-width: 30px;
  min-height: 30px;
  max-width: 70px;
  max-height: 70px;

  border: 1px solid rgb(154, 154, 154);
  border-radius: 1000px;
  gap: 5px;

  box-shadow: 0 5px 8px rgb(86, 123, 142);

  background: rgba(255, 255, 255, 0.05);

  transition: box-shadow 0.3s ease, border 0.3s ease, transform 0.2s ease,
    background 0.3s ease;
}

.burger-menu > div {
  width: 2vw;
  height: 4px;
  min-width: 10px;
  max-width: 50px;

  border-radius: 10px;
  background-color: rgb(154, 154, 154);

  transition: 
    background-color 0.3s ease,
    box-shadow 0.3s ease,
    transform 0.2s ease;
}


.burger-menu:hover {
  cursor: pointer;
  border: 1px solid rgb(249, 249, 249);

  box-shadow: 
    0 0 10px rgba(86, 123, 142, 0.6),
    0 0 25px rgba(86, 123, 142, 0.4);

  transform: scale(1.05);
  background: rgba(255, 255, 255, 0.1);
}

.burger-menu:hover > div {
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.8);
  transform: scaleX(1.05);
}

.burger-menu:active {
  transform: scale(0.95);
}
