@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Lato:wght@300;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  color: #e6e6e6; 
  line-height: 1.6;
  padding: 0; 
  background: 
    radial-gradient(ellipse at top left, rgba(77, 194, 247, 0.15) 0%, transparent 50%), /* Легкий голубой градиент */
    radial-gradient(ellipse at bottom right, rgba(247, 169, 77, 0.1) 0%, transparent 50%), /* Легкий оранжевый градиент */
    #0a192f;
  min-height: 100vh;
}

h1, h2, h3, h4 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  letter-spacing: 0.5px;
  font-size: clamp(18px, 4vw, 100px);
  color: #fff; 
}

p {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}